<!-- 评级申请信息 -->
<table class="bm_tb_list">
	<thead>
		<tr>
			<th colspan="2">评级申请信息</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="td_width_30">调整幅度：</td>
			<td>{{items.CognRange}}</td>
		</tr>
		<tr>
			<td class="td_width_30">特例调整事项：</td>
			<td>{{items.CognReasonName}}</td>
		</tr>
		<tr>
			<td class="td_width_30">特例调整原因补充说明：</td>
			<td>{{items.CognReasonDes}}</td>
		</tr>
		<tr>
			<td class="td_width_30">初评等级：</td>
			<td>{{items.InitResult}}</td>
		</tr>
		<tr>
			<td class="td_width_30">建议等级：</td>
			<td>{{items.SugResult}}</td>
		</tr>
		<tr>
			<td class="td_width_30">初评违约概率：</td>
			<td>{{items.getRoundValue}}</td>
		</tr>
		<tr>
			<td class="td_width_30">最高风险限额：</td>
			<td>{{items.RatingAmount}}</td>
		</tr>
		<tr>
			<td class="td_width_30">建议调整原因：</td>
			<td>{{items.SugReason}}</td>
		</tr>
	</tbody>
</table>